@use "sass:map";
@use "common/var" as *;
@use "mixins/mixins" as *;

@include b(button) {
  @include set-component-css-var("button", $button);
}

@include b(button) {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  // background: var(--el-button-background-color,
  //     map.get($button, "background-color"));
}