@use "sass:map";
@use "common/var" as *;
@use "mixins/function" as *;
@use "mixins/mixins" as *;
// set button var
@include b(button) {
  @include set-component-css-var("button", $button);
}

@include b(button) {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  color: getCssVar('button', 'text-color');
  background-color: getCssVar('button', 'bg-color');
  &:hover{
    transform: scale(1.2);
  }
}