@use "sass:map";
@use "common/var" as *;
@use "mixins/mixins" as *;
@use "mixins/var" as *;

@include b(scrollbar) {
  @include set-component-css-var("scrollbar", $scrollbar);
}

// .scrollbar {
//   overflow: hidden;
//   position: relative;
//   height: 100%;

//   &-wrap {
//     overflow: auto;
//     height: 100%;
//     scrollbar-width: none;

//     &::-webkit-scrollbar {
//       display: none;
//     }

//   }

//   &-bar {
//     position: absolute;
//     right: 2px;
//     bottom: 2px;
//     z-index: 1;
//     border-radius: 4px;

//     width: 6px;
//     top: 2px;

//     >div {
//       width: 100%;
//     }
//   }

//   &-thumb {
//     position: relative;
//     display: block;
//     width: 0;
//     height: 60px;
//     cursor: pointer;
//     border-radius: inherit;
//     background-color: blue;
//   }
// }