@use "sass:math";
@use "sass:map";

/* Button
-------------------------- */
$button: () !default;
$button: map.merge(("background-color": "red",'opacity': 1),
        $button
);

/* $Scrollbar
-------------------------- */
$scrollbar: () !default;
$scrollbar: map.merge(("background-color": "red",'opacity': 1),
        $scrollbar
);