@use "sass:math";
@use "sass:map";
@use "../mixins/function" as *;
// Types
$types: primary, success, warning, danger, error, info;


// Colors
$color:() !default;
$color:map.deep-merge((
  'white': #ffffff,
  'black': #000000,
  'primary': (
    'base': #409eff,
  )
), $color);
$color-white:map.get($color, 'white');
$color-black:map.get($color, 'black');
$color-primary:map.get($color, 'primary','base');


// Fill
$fill-color: () !default;
$fill-color: map.merge(
  (
    '': #f0f2f5,
    'light': #f5f7fa,
    'lighter': #fafafa,
    'extra-light': #fafcff,
    'dark': #ebedf0,
    'darker': #e6e8eb,
    'black': #000000,
  ),
  $fill-color
);


// Button
$button: () !default;
$button: map.merge(('bg-color': getCssVar('fill-color', 'black'),'text-color':getCssVar('color-white'),'opacity': 1),
        $button
);


// Scrollbar
$scrollbar: () !default;
$scrollbar: map.merge(('bg-color': getCssVar('fill-color', 'black'),'opacity': 1),
        $scrollbar
);